
.navbarBlueTop{
    /* position: fixed; */
    width: 100%;
    height: 44px;
    left: 0px;
    top: 0px;
    background: #354ED2;
}
.navbarText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    top: 44px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
}
.navbar{
    width:100%;
    /* top:44px; */
}
.footer{
    background-color: #354ED2;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.footerMenuText{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}
.dashboard{
    background-color: #000000;
    width:40%;
    height: 100vh;
    text-align: center;
}
.dashboardText{
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    font-family: 'Montserrat';
}
.dashboardLogin{
    background-color: #ffffff;
    /* width:60%; */
    float: right;
    height: 100vh;
}
.dashboardContainer {
    /* display: flex;
    flex-wrap: wrap; */
    width: 100vh;
    background-color: #000000;
  }
  
.dashboardElement {
    width: 50%;
    box-sizing: border-box;
    font-size: 72px;
    color: #FFFFFF;
    height: 100vh;
}
.dashboardElement2 {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}
  
  @media (max-width: 768px) {
    .element {
      width: 100%;
    }
  }

  
/* .footerSubMenu{
    border-bottom: #ffffff;
    borde
} */
.dash{
    display: flex;
  }
  
  .dashboardBox {
    display: inline-block;
    width: 40%;
    height: 100vh;
    background: black;
    text-align: center;
    flex: 1;
  }
  .dashboardBoxText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    padding-top: 40%;
    color: white;
  
    height: 100vh;
    
  }
  .dashboardBox2 {
    display: inline-block;
    flex: 1;
    /* width: 100%; */
    height: 100vh;
    background: #F5F5F5;
    right: 0px;
    color: black;
  }
  .signInWhite{
    background-color: #F5F5F5;
  }
  
  #two {
    position: relative;
    top: 20px;
    left: 20px;
    background: blue;
  }
.signinTextHeader{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.signinTextHeader2{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.btntxt{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;;
}
.dashboardLeftMenuTxt{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.slider-container {
  overflow: hidden;  /* Hide any overflow outside the container */
  width: 100%;  /* Make the container full-width */
}

.slider {
  display: flex;  /* Use flexbox for horizontal layout */
  animation: slide 20s linear infinite;  /* Apply the animation */
}

@keyframes slide {
  0% {
    transform: translateX(0);  /* Start from 0 offset */
  }
  50% {
    transform: translateX(-50%);  /* Translate halfway to the left */
  }
}
.dmSansFont{
  font-family: 'DM Sans';
}

/************************Faq Section CSS**********************/

.faq-section {
  /* Add your custom styles for the FAQ section */
}

.question {
  cursor: pointer;
  box-shadow: 0px 3px 0px rgba(14, 13, 12, 0.14);
  border: 1.5px solid #E7E6E4;
  /* Add your custom styles for the question element */
}

.question-title {
  /* Add your custom styles for the question title */
}

.answer {
  /* Add your custom styles for the answer element */
}

.hidden {
  display: none;
}



